autopep8==1.5.7
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==3.0.4
charset-normalizer==2.0.4
demjson==2.2.4
idna==3.2
pyasn1==0.4.8
pycodestyle==2.7.0
requests==2.26.0
rsa==4.7.2
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.6
wxpusher==2.2.0
